<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Oops, {{.StatusCode}}</title>
    <style>
        body, html {
            height: 100%;
        }

        .status-code-block {
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1 class="status-code-block">
                    Oops! {{ .StatusCode}}</h1>
                <h4>
                    {{ .Text}} </h4>

                <div class="error-actions">
                    <a href="/" class="btn btn-primary">Home</a>
                    <a href="https://github.com/flatropw" class="btn btn-secondary">GitHub</a>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    const tokenField = document.querySelector("#token");
    let token = document.cookie.split(';').filter((item) => item.trim().startsWith('token='))[0];
    tokenField.value = token.replace('token=', '');
</script>
</body>
</html>